{% extends "documentation/layout.html.twig" %}
{% block top_nagivation_configure_class %} class="active"{% endblock %}
{% block left_navigation %}
<ul class="nav nav-pills nav-stacked">
    <li{% block left_navigation_introduction_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'introduction'}) }}">Introduction</a></li>
    <li{% block left_navigation_configuration_files_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'configuration-files'}) }}">Configuration file(s)</a>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('documentation_configure', {'page': 'configuration-files'}) }}#tasks">Tasks</a></li>
            <li><a href="{{ path('documentation_configure', {'page': 'configuration-files'}) }}#variables">Variables</a></li>
            <li><a href="{{ path('documentation_configure', {'page': 'configuration-files'}) }}#conditional-variables">Conditional variables</a></li>
        </ul>
    </li>
    <li{% block left_navigation_tasks_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'tasks'}) }}">Tasks overview</a>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('documentation_configure', {'page': 'tasks'}) }}#list">Task list</a></li>
            <li><a href="{{ path('documentation_configure', {'page': 'tasks'}) }}#filters">Conditional tasks</a></li>
        </ul>
    </li>
    <li{% block left_navigation_images_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'images'}) }}">Building the Docker images</a>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('documentation_configure', {'page': 'images'}) }}#">The YAML bit</a></li>
            <li><a href="{{ path('documentation_configure', {'page': 'images'}) }}#naming-strategy">Naming strategy</a></li>
            <li><a href="{{ path('documentation_configure', {'page': 'images'}) }}#arguments">Arguments</a></li>
        </ul>
    </li>
    <li{% block left_navigation_deployments_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}">Deploying services</a>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#introduction">Introduction</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#image">Image source</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#strategy">Deployment strategy</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#environment-variables">Environment variables</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#accessibility">Accessibility</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#ports">Ports</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#endpoints">Endpoints</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#conditional">Conditional services</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#volumes">Persistent volumes</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#resources">Resources</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#health-checks">Health-checks</a></li>
                <li><a href="{{ path('documentation_configure', {'page': 'deployments'}) }}#zero-downtime">Zero downtime</a></li>
            </ul>
        </li>
    <li{% block left_navigation_commands_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'commands'}) }}">Running commands</a></li>
    <li class="separator"></li>
{# <li{% block left_navigation_teams_credentials_class %}{% endblock %}><a href="{{ path('documentation_configure', {'page': 'teams-and-credentials'}) }}">Teams & Credentials</a></li> #}
</ul>
{% endblock %}
