{% extends "blog/layout.html.twig" %}
{% block left_navigation_clusters_class %} class="active"{% endblock %}
{% block content %}
    <h1>{{ post.getTitle() }}</h1>
    <p>{{ post.getDate() | date('d-m-Y') }}</p>

    <p>{{ post.getBody() | markdown }}</p>

    <ul>
        {% for tags in post.getTags() %}
            <li>
                <a href="{{ path('blog-listing', {name: tags.getName()}) }}">{{ tags.getName() }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
