{% extends "regular_layout.html.twig" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <section class="hero-strip section-padding large">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="hero-strip__title">Get in touch</h1>
                <p>If you want to have more information or believe you need dedicated assistance from our enterprise support, <br />simply drop us a message.</p>
                <div class="logo-placeholder floating-logo"><img src="{{ asset('img/envelope.png') }}" alt="Contact us"></div>
            </div>
        </div>
    </section>
    <section class="sign-up section-padding large" id="form">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    {% if message is not null %}
                        <div class="message">{{ message }}</div>

                        <script type="text/javascript">
                            localStorage.setItem('user', JSON.stringify({name: '{{ data.name }}', email: '{{ data.email }}', timestamp: '{{ timestamp }}'}));
                        </script>
                    {% else %}
                        <form class="signup-form" action="#form" method="POST" role="form">
                            <div class="errors">
                                {{ form_errors(form) }}
                                {{ form_errors(form.name) }}
                                {{ form_errors(form.email) }}
                                {{ form_errors(form.company) }}
                                {{ form_errors(form.message) }}
                            </div>

                            <div class="form-input-group">
                                <i class="fa fa-user"></i>
                                {{ form_widget(form.name) }}
                            </div>

                            <div class="form-input-group">
                                <i class="fa fa-envelope"></i>
                                {{ form_widget(form.email) }}
                            </div>

                            <div class="form-input-group">
                                <i class="fa fa-building"></i>
                                {{ form_widget(form.company) }}
                            </div>

                            <div class="form-input-group flexible">
                                {{ form_widget(form.message) }}
                            </div>

                            {{ form_rest(form) }}
                            <button type="submit" class="btn-fill sign-up-btn"><i class="fa fa-send"></i> Send</button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h3>Did you know?</h3>
                    <p>ContinuousPipe is <strong>supported by over 200 technical professionals in the UK and Europe</strong> with deep
                        experience in bringing continuous delivery to projects and DevOps environments. Engaging with <a href="https://inviqa.com">Inviqa</a>, we can help you in a number of ways to get the most out of
                        ContinuousPipe:</p>

                    <ul>
                        <li><p>Configure projects and Dockerise your environments</p></li>
                        <li><p>Scaling projects with the cloud and Kubernetes</p></li>
                        <li><p>Replatforming and solution upgrades (particularly PHP, Node.js, Scala, Java, Go)</p></li>
                        <li><p>Agile training and development process optimisation</p></li>
                        <li><p>Embedding and getting the benefits of ContinuousPipe with your testing teams</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
