{% extends "regular_layout.html.twig" %}
{% block title %}ContinuousPipe - for a faster development workflow{% endblock %}
{% block navigation_section_classes %}{{ parent() }} navigation-home{% endblock %}
{% block content %}
<section class="hero hero-home">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-content text-center">
                    <div class="continuous-pipe-logo"><i class="cp-icon-logo"></i></div>
                    <p class="intro">For a faster development workflow</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="hero-content text-center">
                    <h3>Continuous Deployment for your containerized applications to Kubernetes clusters</h3>
                </div>
            </div>
            <div class="text-center">
                <a href="https://authenticator.continuouspipe.io/connect/github" class="btn btn-large btn-fill btn-margin-right btn-sign-in">Sign in with GitHub</a>
                <a href="{{ path('contact') }}" class="btn btn-accent btn-large">Get in touch</a>
            </div>
        </div>
    </div>
</section>
<section class="hero-strip section-padding no-icon">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1 class="hero-strip__title">Why ContinuousPipe?</h1>
            <p>
                ContinuousPipe will help you solve many problems in the software development lifecycle.
                In particular, we believe that <strong>enabling a faster collaboration</strong> and <strong>reducing the cycle time</strong> is critical to delivering value.
            </p>
        </div>
    </div>
</section>
<section>
    <div class="container metrics__title">
        <div>
            <h3>Here are some key metrics we can impact:</h3>
        </div>
    </div>
    <div class="container metrics__item">
        <div class="col-md-3 metrics__img">
            <i class="cp-icon-Sprint img-responsive center-block"></i>
            <p class="caption text-center"><b>from days to under and hour</b></p>
        </div>
        <div class="col-md-9">
            <h3>Sprint Zero Time</h3>
            <p>Setting up a new project can often take a long time. As well as building virtual machines for developers, there are pipeline servers to configure. ContinuousPipe core functionality is around building environments - so creating developer, QA and integration environments is as simple as <a href="https://docs.continuouspipe.io/configuration/">configuring ContinuousPipe</a> and pushing branches to your repository. Within minutes, your environments are built and you're ready to go.</p>
        </div>
    </div>
    <div class="container metrics__item">
        <div class="col-md-3 col-md-push-9 metrics__img">
            <i class="cp-icon-Deploying img-responsive center-block"></i>
            <p class="caption text-center"><b>from days to minutes</b></p>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <h3>Feature Deployment</h3>
            <p>When a feature is approved, it can take a long time to get it into pipeline environments. ContinuousPipe can run your automated tests and automatically deploy into staging, or enable <a href="https://docs.continuouspipe.io/faq/how-do-I-set-up-manual-approval-of-deployments/">manual deployment into production</a>. You don't need to host your production site on ContinuousPipe (or even Docker) to get these benefits - we can run your existing deployment workflow and get your features deployed in minutes, not days.</p>
        </div>
    </div>
    <div class="container metrics__item">
        <div class="col-md-3 metrics__img">
            <i class="cp-icon-Feedback img-responsive center-block"></i>
            <p class="caption text-center"><b>from days to minutes</b></p>
        </div>
        <div class="col-md-9">
            <h3>QA and Stakeholder Feedback</h3>
            <p>Waiting for QA and other stakeholders to give feedback to developers can really slow down the development process. Previously you might have shared access to your dev environment via a hangout or tunnel, or merged your feature to a staging environment (and risk breaking it for everyone else). ContinuousPipe creates an <a href="{{ path('area_fast_feedback') }}">isolated environment</a> with every pull request, so minutes after creating your pull request your QA team and other stakeholders can be reviewing your work (from wherever they are in the world) and giving you the feedback you need on order to get the feature approved in minutes, not days.</p>
        </div>
    </div>
    <div class="container metrics__item">
        <div class="col-md-3 col-md-push-9 metrics__img">
            <i class="cp-icon-Onboarding img-responsive center-block"></i>
            <p class="caption text-center"><b>from days to 15 minutes</b></p>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <h3>Onboarding a Developer</h3>
            <p>Virtual Machines tend to rot, and often a new team member can spend days trying to get up and running. The ContinuousPipe <a href="{{ path('area_dev') }}">Developer Environment</a> makes the onboarding process really simple and quick. Create a new environment in the Control Panel, wait for it to build, and install and setup our <a href="https://docs.continuouspipe.io/remote-development/getting-started/">Remote Development tool</a>. You can be productive in just 15 minutes, not days.</p>
        </div>
    </div>
    <div class="container metrics__item">
        <div class="col-md-3 metrics__img">
            <i class="cp-icon-Downtime img-responsive center-block"></i>
            <p class="caption text-center"><b>from hours to minutes</b></p>
        </div>
        <div class="col-md-9">
            <h3>Monthly Developer Downtime</h3>
            <p>Virtual Machines are difficult to maintain, and laptops run out of memory. This causes frustration
                for developers who might lose half a day or more per month, with the downtime quickly adding up. The ContinuousPipe <a
                        href="{{ path('area_dev') }}">Developer Environment</a> is reliable and dramatically
                reduces this downtime from hours to minutes per month.</p>
        </div>
    </div>
    <div class="container metrics__item">
        <div class="col-md-3 col-md-push-9 metrics__img">
            <i class="cp-icon-PageLoad img-responsive center-block"></i>
            <p class="caption text-center"><b>from 30 seconds to less than 1 second</b></p>
        </div>
        <div class="col-md-9 col-md-pull-3">
            <h3>Page Performance</h3>
            <p>Virtual Machines and Docker can be really slow, especially on Mac and Windows. This is often because of large frameworks with thousands of classes being autoloaded with each page request. It's not uncommon to experience a 10 second page load time for a Symfony or Magento application in developer mode. The ContinuousPipe <a href="{{ path('area_dev') }}">Developer Environment</a> runs your code on production-grade containers, so you benefit from production-like performance.</p>
        </div>
    </div>
</section>
{% endblock %}
