{% extends "layout.html.twig" %}
{% block body %}
<section class="hero">
    <section class="navigation">
        {% include "_partials/header.html.twig" %}
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Build and deploy containers!</h1>
                    <p class="intro">ContinuousPipe is a continuous deployment pipeline that allows frictionless deployment of features in isolated application environments. All while you are drinking your coffee.</p>
                    <a href="#overview" class="btn btn-fill btn-large btn-margin-right">Overview</a>
                    <a href="{{ path('documentation') }}" class="btn btn-accent btn-large">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#overview"><i class="fa fa-angle-down"></i></a></div>
</section>
<section class="intro section-padding" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe033;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Any technology</h5>
                    <p>Based on Docker containers, the pipeline can build and deploy any kind of technology stack. You can be using Go, Java, PHP or anything else, all you need is the Docker configuration.</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe030;" class="icon"></span>
                </div>
                <div class="intro-content">
                    <h5>Enable experiments</h5>
                    <p>You can try a new design, feature, framework or even programming language easily. Because you don't have to configure your deployment pipeline but just have the Docker configuration, simply try it!</p>
                </div>
            </div>
            <div class="col-md-4 intro-feature">
                <div class="intro-icon">
                    <span data-icon="&#xe040;" class="icon"></span>
                </div>
                <div class="intro-content last">
                    <h5>Quicker feedback</h5>
                    <p>By being able to deploy a feature extremely quickly without perturbating any other running environment, you can have feedback from your clients and users faster.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="image-container">
                    <img src="{{ asset('/img/home-page-screen.png') }}" class="illustration-image" alt="ContinuousPipe UI" />
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="feature-list">
                    <h3>Continuous deployment with containers</h3>
                    <p>Enable fast changes by applying continuous deployment with your Docker based application.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe03e;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Keep the pace</h5>
                                <p>Remove the release pain. By testing in feature branches, you remove the fear of production deployments.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe033;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Your own technology</h5>
                                <p>We <em>just</em> build and deploy your containers. You can use what you want inside.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="features-extra section-padding" id="assets">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="feature-list">
                    <h3>A complete integration with GitHub</h3>
                    <p>We consider your GitHub not only as a code repository but also as your project repository.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe030;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>"Here is the address"</h5>
                                <p>When creating a pull-request, just wait and an comment will appear with the deployed environment link.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Pipeline control</h5>
                                <p>By using comments and/or labels, trigger and control the deployment pipeline.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>That quick feedback loop</h5>
                                <p>The developers and QAs can approve in parallel the features and simply deploy by merging.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <div class="image-container">
                    <img src="{{ asset('/img/github-workflow.png') }}" alt="GitHub workflow" class="illustration-image" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero-strip section-padding">
    <div class="container">
        <div class="col-md-12 text-center">
            <h2>Built to embrace your application</h2>
            <p>ContinuousPipe already supports many different workflows. If you want to have more information or believe you need dedicated assistance, simply drop us a message.</p>
            <a href="{{ path('contact') }}" class="btn btn-ghost btn-accent btn-large">Contact us!</a>
        </div>
    </div>
</section>

<section class="features-extra section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="feature-list">
                    <h3>Deploy at scale with Kubernetes</h3>
                    <p>For an experimental feature, your staging or production environment, the deployment will always be the same.</p>
                    <ul class="features-stack">
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe031;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Application stack</h5>
                                <p>Your entire application will be deployed and orchestrated from your Docker Compose configuration.</p>
                            </div>
                        </li>
                        <li class="feature-item">
                            <div class="feature-icon">
                                <span data-icon="&#xe04b;" class="icon"></span>
                            </div>
                            <div class="feature-content">
                                <h5>Infrastructure independent</h5>
                                <p>Kubernetes can run everywhere, on your laptop as well as in large-scale clouds.</p>
                            </div>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <p style="text-align: center;"><a href="http://kubernetes.io/" class="btn btn-ghost btn-small" target="_blank">What is Kubernetes?</a></p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="image-container">
                    <img src="{{ asset('/img/kubernetes-logo.png') }}" alt="Kubernetes" class="illustration-image" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
