{% extends "regular_layout.html.twig" %}
{% block title %}Pricing{% endblock %}
{% block content %}
<section class="hero-strip section-padding no-icon pricing-hero">
    <div class="container">
        <div class="col-md-6 text-center">
            <h1 class="hero-strip__title">Our Pricing Is Very Simple</h1>
            <p>Pick what you need. You are covered by 14 days for free, without any credit card required!</p>
            <p>
                <a href="https://authenticator.continuouspipe.io/connect/github" class="btn btn-accent btn-large">Start 14 days of free trial</a>
            </p>
        </div>
        <div class="col-md-6 image">
            <img src="{{ asset('/img/scale1600.png') }}" />
        </div>
    </div>
</section>
<section class="pricing text-center" id="form">
    <div class="container offer-list">
        <div class="offer-container">
            <div class="offer offer-toolkit">
                <div class="offer-title">
                    <h2><i class="fa fa-cogs"></i> Toolkit</h2>
                </div>

                <ul class="offer-items">
                    <li><strong>Unlimited users</strong></li>
                    <li>Unlimited applications</li>
                    <li><strong>Use your own Kubernetes cluster</strong></li>
                    <li>You have a Docker Registry</li>
                </ul>

                <div class="offer-price">
                    <span>from</span> <span class="value">£20</span> <span>/ month</span>
                </div>

                <button class="btn" data-select-offer="toolkit">Learn more</button>
            </div>
        </div>
        <div class="offer-container">
            <div class="offer offer-managed">
                <div class="offer-title">
                    <h2><i class="fa fa-cloud"></i> Managed</h2>
                </div>

                <div class="offer-note">
                    All features from <strong>Toolkit</strong>, plus...
                </div>

                <ul class="offer-items">
                    <li>We store the Docker images for you</li>
                    <li>We run the containers for you</li>
                    <li>Buy a pack of available memory</li>
                    <li>Divide memory across containers</li>
                    <li>Divide memory across environments</li>
                </ul>

                <div class="offer-price">
                    <span>from</span> <span class="value">£50</span> <span>/ month</span>
                </div>

                <button class="btn" data-select-offer="managed">Learn more</button>
            </div>
        </div>
        <div class="offer-container">
            <div class="offer offer-enterprise">
                <div class="offer-title">
                    <h2><i class="fa fa-building-o"></i> Enterprise</h2>
                </div>

                <ul class="offer-items">
                    <li>Managed or on-premise</li>
                    <li>We can cover your containers with SLA</li>
                    <li>Support available by phone</li>
                    <li>Kubernetes & architecture consultancy</li>
                </ul>

                <div class="offer-price"></div>
                <a href="{{ path('contact') }}" class="btn">Contact us</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container pricing-calculator pricing-calculator-managed">
            <div class="row pricing-calculator-title">
                <div class="col-md-12">
                    <h2>Pricing calculator for your <strong>managed</strong> offer</h2>
                </div>
            </div>

            <div class="row">
                <ul class="plans">
                    <li class="plan plan-starter" data-select-plan="starter" data-cost="50">
                        <h4>Starter</h4>
                        <ul class="features">
                            <li><strong>500</strong> deployments</li>
                            <li><strong>2</strong> environments <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="2GB of memory to share across containers across environments"></i></li>
                            <li><strong>5 GB</strong> of persistent storage</li>
                            <li><strong>1</strong> private Docker image registry</li>
                        </ul>
                        <div class="price">
                            <span class="value">£50</span> /month
                        </div>
                    </li>

                    <li class="plan plan-lean" data-select-plan="lean" data-cost="105">
                        <div class="ribbon"><span>Popular</span></div>
                        <h4>Lean</h4>
                        <ul class="features">
                            <li><strong>1 000</strong> deployments</li>
                            <li><strong>5</strong> environments <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="5GB of memory to share across containers across environments"></i></li>
                            <li><strong>10 GB</strong> of persistent storage</li>
                            <li><strong>1</strong> private Docker image registry</li>
                        </ul>
                        <div class="price">
                            <span class="value">£105</span> /month
                        </div>
                    </li>

                    <li class="plan plan-medium" data-select-plan="medium" data-cost="325">
                        <h4>Medium</h4>
                        <ul class="features">
                            <li><strong>5 000</strong> deployments</li>
                            <li><strong>10</strong> environments <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="10GB of memory to share across containers across environments"></i></li>
                            <li><strong>20 GB</strong> of persistent storage</li>
                            <li><strong>1</strong> private Docker image registry</li>
                        </ul>
                        <div class="price">
                            <span class="value">£325</span> /month
                        </div>
                    </li>

                    <li class="plan plan-team" data-select-plan="team" data-cost="825">
                        <h4>Team</h4>
                        <ul class="features">
                            <li><strong>10 000</strong> deployments</li>
                            <li><strong>30</strong> environments <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="30GB of memory to share across containers across environments"></i></li>
                            <li><strong>100 GB</strong> of persistent storage</li>
                            <li><strong>5</strong> private Docker image registry</li>
                        </ul>
                        <div class="price">
                            <span class="value">£825</span> /month
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row extras">
                <div class="col-md-3">
                    <div class="input">
                        <input type="text" value="0" data-cost-multiplicator="20" />
                    </div>
                    <div class="input-label">
                        <div class="label">Extra 500 deployments</div>
                        <div class="value">£20 / month</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input">
                        <input type="text" value="0" data-cost-multiplicator="10" />
                    </div>
                    <div class="input-label">
                        <div class="label">Extra environments</div>
                        <div class="value">£10 / month</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input">
                        <input type="text" value="0" data-cost-multiplicator="5" />
                    </div>
                    <div class="input-label">
                        <div class="label">Extra private Docker image registry</div>
                        <div class="value">£5 / month</div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input">
                        <input type="text" value="0" data-cost-multiplicator="5" />
                    </div>
                    <div class="input-label">
                        <div class="label">Extra persistent storage (GB)</div>
                        <div class="value">£5 / month</div>
                    </div>
                </div>
            </div>

            <div class="row price-summary">
                <div class="price">
                    <span class="value">£50</span>
                    <span>per month</span>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-primary btn-large btn-accent">Get started with 14 days free</a>
                </div>
            </div>
        </div>

        <div class="container pricing-calculator pricing-calculator-toolkit">
            <div class="row pricing-calculator-title">
                <div class="col-md-12">
                    <h2>Pricing calculator for your <strong>toolkit</strong> offer</h2>
                </div>
            </div>

            <div class="row extras">
                <div class="col-md-6">
                    <div class="input">
                        <input type="text" value="1" data-cost-multiplicator="20" />
                    </div>
                    <div class="input-label">
                        <div class="label">Pack of 500 deployments</div>
                        <div class="value">£20 / month</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input">
                        <input type="text" value="0" data-cost-multiplicator="5" />
                    </div>
                    <div class="input-label">
                        <div class="label">Extra private Docker image registry</div>
                        <div class="value">£5 / month</div>
                    </div>
                </div>
            </div>

            <div class="row price-summary">
                <div class="price">
                    <span class="value">£20</span>
                    <span>per month</span>
                </div>
                <div class="action">
                    <a href="#" class="btn btn-primary btn-large btn-accent">Get started with 14 days free</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('/vendor/nouislider/distribute/nouislider.css') }}">
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('/vendor/nouislider/distribute/nouislider.js') }}"></script>
<script>
$(function() {
    $('[data-select-offer]').click(function() {
        var offer = $(this).data('select-offer');

        $('.offer').removeClass('selected');
        $('.offer.offer-'+offer).addClass('selected');

        $('.pricing-calculator-placeholder, .pricing-calculator').hide();
        $('.pricing-calculator-'+offer).show();

        // Select the leanplan by default
        $('[data-select-plan="lean"]').click();

        // Scroll to the plan
        $('html, body').animate({
            scrollTop: $('.pricing-calculator-'+offer).offset().top
        }, 1000);
    });

    var refreshManagedPrice = function() {
        refreshPrice($('.pricing-calculator-managed'));
    };

    var refreshToolkitPrice = function() {
        refreshPrice($('.pricing-calculator-toolkit'));
    };

    var refreshPrice = function(parent) {
        var totalPrice = parseInt($('.plan.selected', parent).data('cost')) || 0;

        $('.extras input', parent).each(function() {
            totalPrice += (parseInt($(this).val()) * parseInt($(this).data('cost-multiplicator'))) || 0;
        });

        $('.price-summary .value', parent).html('£'+totalPrice);
    };

    $('[data-select-plan]').click(function() {
        var plan = $(this).data('select-plan');

        $('.plan').removeClass('selected');
        $('.plan.plan-'+plan).addClass('selected');

        refreshManagedPrice();
        refreshToolkitPrice();
    });

    $('.pricing-calculator-managed input').change(refreshManagedPrice).keyup(refreshManagedPrice);
    $('.pricing-calculator-toolkit input').change(refreshToolkitPrice).keyup(refreshToolkitPrice);

    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
