{% extends "features/layout.html.twig" %}
{% block nav_feature_ops_class %} active{% endblock %}
{% block title %}Features for Ops{% endblock %}
{% block content %}
    <section class="intro section-padding">
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>ContinuousPipe for Ops</h1>
                    <p>ContinuousPipe can reduce the time it takes to deploy your website to any Kubernetes cluster. You can easily host your cluster on <a href="https://cloud.google.com/container-engine/">Google Container Engine</a>, <a href="https://aws.amazon.com/ecs/">Amazon EC2 Container Service</a> or your own private Kubernetes cluster. ContinuousPipe will bring the gap between your developers and your operational team.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Fast Onboarding</h5>
                        <p>On-boarding a new team member or a project is super fast. All they need is a Docker configuration and a Git repository.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Minimal Downtime</h5>
                        <p>The containers are deployed to your Kubernetes cluster. You can configure cluster policies to enforce different type of endpoints or resilience.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <i class="fa fa-fire" aria-hidden="true"></i>
                    </div>
                    <div class="intro-content last">
                        <h5>Scale</h5>
                        <p>There is no requirement on the Kubernetes cluster. Nothing to install on it. Just install and scale your Kubernetes cluster.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="image-container">
                        <img src="{{ asset('/img/home-page-screen.png') }}" class="illustration-image"
                             alt="ContinuousPipe UI"/>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="feature-list">
                        <h3>Continuous deployment with containers</h3>
                        <p>Enable fast changes by applying continuous deployment with your Docker based application.</p>
                        <ul class="features-stack">
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-recycle" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Keep pace</h5>
                                    <p>A shorter lead time with ContinuousPipe means faster deployments.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-truck" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Your own technology</h5>
                                    <p>Based on Docker containers, the pipeline can build and deploy any kind
                                        of technology stack. You can be using Go, Java, PHP or anything else – all you
                                        need is the Docker configuration.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-extra section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="feature-list">
                        <h3>Deploy at scale with Kubernetes</h3>
                        <p>For an experimental feature, whatever your staging or production environment, the deployment
                            will always be the same.</p>
                        <ul class="features-stack">
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-object-group" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Application stack</h5>
                                    <p>Your entire application will be deployed and orchestrated from your Docker
                                        Compose configuration.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Infrastructure independent</h5>
                                    <p>Kubernetes can run everywhere, on your laptop as well as in large-scale
                                        clouds.</p>
                                </div>
                            </li>
                            <li class="feature-item">
                                <div class="feature-icon">
                                    <i class="fa fa-cubes" aria-hidden="true"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Bring your own Cluster</h5>
                                    <p>On-premise or in the cloud, ContinuousPipe will deploy to the Kubernetes cluster you have</p>
                                </div>
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                        <p style="text-align: center;"><a href="http://kubernetes.io/" class="btn btn-ghost btn-small"
                                                          target="_blank">What is Kubernetes?</a></p>
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="image-container">
                        <img src="{{ asset('/img/kubernetes-logo.png') }}" alt="Kubernetes" class="illustration-image"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "_partials/call-to-action.html.twig" %}
    <section class="integrations features section-padding">
        <div class="container">
            <div class="row integration-list">
                <div class="col-md-3">
                    <a href="https://cloud.google.com/container-engine/">
                        <img src="{{ asset('/img/logos/google-cloud-vertical.png') }}" alt="Google Cloud" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://aws.amazon.com/ecs/">
                        <img src="{{ asset('/img/logos/amazon-web-services.svg') }}" alt="AWS" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://quay.io/">
                        <img src="{{ asset('/img/logos/quay-1.svg') }}" alt="Quay.io" />
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="https://hub.docker.com/">
                        <img src="{{ asset('/img/logos/docker.svg') }}" alt="Dockerhub" />
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
